.navbar {
  width: 100%;
  background-color: #4b406c;
  padding: 40px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar-one {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo {
  height: 70px;
}

/* Right section (phone + socials) */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Phone number style */
.navbar-phone {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Poppins", sans-serif;
}
.navbar-phone:hover {
  color: #ffd369;
}

.navbar-socials {
  display: flex;
  gap: 20px;
}

.nav-social-media-icon {
  font-size: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
  color: white;
}

.nav-social-media-icon.instagram:hover {
  color: #e1306c;
}

.nav-social-media-icon.facebook:hover {
  color: #1877f2;
}

@media (max-width: 468px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 20px;
    text-align: center;
    gap: 10px;
  }

  .navbar-right {
    flex-direction: column;
    gap: 10px;
  }

  .navbar-phone {
    font-size: 16px;
  }
}
